extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.equipo
        section.equipo__nav
            ul.equipo__nav__links
                li.section-title.equipo__nav__links--lawyers Abogados
                li.section-title.equipo__nav__links--admin Equipo Administrativo
        section.equipo__sections
            .equipo__section.equipo__section--lawyers
                .equipo__section__maincol
                    h3.equipo__section__title Socios
                    ul.equipo__list
                        each person, index in site.data.equipo.abogados.socios
                            li.equipo__list__item(data-person-id="abogado-socio-#{index}")= person
                .equipo__section__secondarycol
                    h3.equipo__section__title Asociados
                    ul.equipo__list.equipo__list--multicol
                        each person, index in site.data.equipo.abogados.asociados
                            li.equipo__list__item(data-person-id="abogado-asociado-#{index}")= person
            .equipo__section.equipo__section--admin
                .equipo__section__maincol
                    h3.equipo__section__title Gerencia
                    ul.equipo__list
                        each person, index in site.data.equipo.admin.gerencia
                            li.equipo__list__item(data-person-id="admin-gerente-#{index}")= person
                .equipo__section__secondarycol
                    h3.equipo__section__title Equipo
                    ul.equipo__list.equipo__list--multicol
                        each person, index in site.data.equipo.admin.equipo
                            li.equipo__list__item(data-person-id="admin-equipo-#{index}")= person
        section.equipo__profile
            ul.equipo__profile__types
                li.section-title.-active Abogados
                li.section-title Equipo Administrativo
            button.equipo__profile__close
                i.material-icons close
            each profile, index in site.data.equipo.profiles
                .equipo__profile__person(data-profile-id=profile.id, data-profile-type=profile.type)
                    .equipo__profile__person__img
                        img(src="/images/equipo/abogados/#{profile.slug}.jpg")
                    .equipo__profile__person__data
                        .equipo__profile__person__data__block.equipo__profile__person__data__block--top
                            h3.equipo__profile__person__name=profile.name
                            span.equipo__profile__person__item=profile.role
                            span.equipo__profile__person__item=profile.email
                        .equipo__profile__person__data__block
                            h4 Áreas de ejercicio
                            ul.equipo__profile__person__skills
                                each skill in profile.skills
                                    li=skill
                        .equipo__profile__person__data__block
                            span.equipo__profile__person__item=profile.title
                            span.equipo__profile__person__item=profile.university
                        .equipo__profile__person__data__block
                            h4 Idiomas
                            span.equipo__profile__person__item=profile.language
                            a.equipo__profile__person__cv(href="/docs/cvs/#{profile.slug}.pdf", target="_blank")
                                | CV [
                                i.material-icons arrow_downward
                                | ]
                
